// Example Stylus file

body, html
	margin 0
	padding 0

body
	font normal 1em sans-serif
	background #777

.container
	padding 0
	margin 0

header
	height 50px
	background #444

#canvas
	background black url('/images/loader.gif') center center no-repeat
	border 2px solid #222
	width 1000px
	height 600px
	margin 15px auto 0
	padding 0
	position relative

	.toggleGrid
		position absolute
		top 5px
		height 30px
		width 100px
		right 5px
		z-index 999999

	input.cmd
		position: absolute
		top 5px
		left 5px
		width 400px
		padding 0 15px
		height 30px
		z-index 999999