// Example Stylus file

body, html
	margin 0
	padding 0

body
	font normal 1em sans-serif
	background #777

.container
	padding 0
	margin 0

header
	height 50px
	background #444

#canvas
	background black url('/images/loader.gif') center center no-repeat
	border 2px solid #222
	width 1024px
	height 800px
	margin 15px auto 0
	padding 0
